.header{
    background-color: #e6eaf2;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    height:auto;
}

.baslik {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}